*
/* aplica essas características para todo o documento */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    /* background-color: white; */
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: column;
}